* {
	margin: 0;
	padding: 0;
	outline: none;
	list-style: none;
	box-sizing: border-box;
	font-family: Gotham-Medium;
}
@font-face {
	font-family: Gotham-Medium;
	font-weight: 700;
	src: url('../fonts/Gotham-Medium.otf');
}
@font-face {
	font-family: Gotham-Thin;
	font-weight: 700;
	src: url('../fonts/Gotham-Thin.otf');
}
@font-face {
	font-family: Gotham-Ultra;
	font-weight: 700;
	src: url('../fonts/Gotham-Ultra.otf');
}
h1, h2, h1 span {
	font-family: Gotham-Ultra!important;
}
html {
	font-size: 14px;
}

body {
	background: #f3f3f3;
}

a:hover {
	text-decoration: none!important;
}

.bgc {
	background-color: #f3f3f3;
}

header .container:before, header .container:after {
	display: none;
}

header {
	background: #fff;
	padding: .5em 0;
	position: relative;
	z-index: 99;
	font-size: 18px;

	box-shadow: 0 0 3px rgba(0,0,0,0.08) inset;
}
header img {
	height: 5em;
	transition: all .2s ease-out;
}

header nav {
	display: flex;
	justify-content: space-between;
}

header.fixed {
	position: fixed;
	z-index: 999;
	width: 100%;
	top: 0;
}

header.fixed img {
	height: 3em;
}

header.fixed .menu ul li {
	margin-left: 2.5em;
}

header.fixed .menu ul a {
	font-size: .8em;
}

.menu {
	display: flex;
	align-items: center;
}

.menu ul {
	display: flex;
	justify-content: center;
	margin: 0;
}

.menu ul li {
	margin-left: 3em;
	position: relative;
	transition: all .4s ease-out;
}

.menu ul li:before {
	position: absolute;
	content: '';
	top: 100%;
	left: 0;
	width: 60px;
	height: 1px;
	border: 2px solid #fff;
	display: none;
	animation: menuHover .2s ease-in 1;
}

.menu ul li:hover:before, .menu ul li.active:before {
	border-color: #bd945f;
	display: block;
}

.menu ul a {
	font-size: .9em;
	color: #424242;
	text-transform: uppercase;
	text-decoration: none;
	transition: all .2s ease-out;
}

/*MENU MOBILE*/
.res-menu {
	display: none;
	border: none;
	background: transparent;
	position: relative;
	width: 40px;
	height: 30px;
}

.res-menu span {
	width: 100%;
	display: block;
	border-bottom: 2px solid #000;
	transition: all .2s ease-out;
	position: absolute;
	left: 0;
}

.res-menu span:nth-child(1) {
	top: 1%;
}

.res-menu span:nth-child(2) {
	top: 50%;
}

.res-menu span:nth-child(3) {
	top: 100%;
}

.res-menu:focus {
	outline: none;
}

.res-menu.active span:nth-child(2) {
	display: none;
}

.res-menu.active span:first-child {
	transform: rotateZ(45deg);
	top: 50%;
}

.res-menu.active span:last-child {
	transform: rotateZ(-45deg);
	top: 50%;
}

@keyframes menuHover {
	from {
		width: 30px;
		opacity: 0;
	}

	to {
		width: 60px;
		opacity: 1;
	}
}


/*FOOTER*/
footer {
	background: #363636;
	padding: 70px 0 20px 0;
}

footer h5 {
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	position: relative;
	padding: 5px 0;
	margin-bottom: 16px;
}

footer h5:before {
	position: absolute;
	content: '';
	top: 100%;
	left: 0;
	width: 60px;
	height: 1px;
	border: 2px solid #fff;
}

footer h4 {
	font-size: 24px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 24px;
}

footer ul li {
	margin-bottom: 16px;
	font-family: 'Gotham-Thin';
	color: #c1baba;
	font-size: 1.3rem;
	margin-bottom: .3rem !important;
	padding: .05rem 0;
}

footer ul li a {
	color: #d6d6d6;
}

footer ul li a:hover {
	text-decoration: none;
	color: #e0e0e0;
}

footer li a i {
	margin: 0 12px 0 0;
}

footer .menu-footer li {
	margin-bottom: 9px;
}

footer address,
footer p, footer p a {
	font-family: 'Gotham-Thin';
	color: #c1baba;
	font-size: 1.3rem;
	padding: .05rem 0;
	margin-bottom: .3rem !important;
}

footer i {
	margin-right: 1rem;
}

footer ul li a {
	color: #c1baba;
	font-family: 'Gotham-Thin';
}

footer ul li a:hover {
	color: #a15a26;
	text-decoration: none;
}

footer .social-icon i, footer .social-icon a {
	color: #fff;
}

footer .social-icon a i {
	font-size: 30px;
}

footer a:hover {
	text-decoration: none;
	color: #a15a26;
}

footer p a {
	color: #c1baba;
	font-size: 1em;
}

footer {
	min-height: 180px;
}


.menu ul li:last-child > a i {
    font-size: 17px;
}
.menu ul li:last-child > a:hover {
    /*color: #fff!important;*/
    color: #bd945f!important;
}
.menu ul li:last-child:hover:before {
    display: none;
}

/*-----SEARCH SIDEBAR-----*/
.search-sidebar {
    position: fixed;
    width: 480px;
    height: 100vh;
    right: 0;
    top: 0;
    background: #fff;
    z-index: 8888;
    overflow: hidden;
    -ms-transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
.search-sidebar.active {
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.wrap.sidebar-move {
    right: 480px;
}
.wrap {
    position: relative;
    right: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -ms-transition: right 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: right 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: right 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.site-overlay {
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 7777;
    opacity: 0;
    visibility: hidden;
    transition: all 200ms linear;
}
.site-overlay.active {
    opacity: 1;
    visibility: visible;
}
.site-nav-container-last {
    width: calc(100% - 0px);
    position: relative;
    overflow: hidden;
    min-height: 100%;
	padding: 60px 70px 250px;
	
}
.site-nav-container .title {
    font-size: 14px;
    text-transform: uppercase;
    margin: 3px 0 0 0;
    font-weight: 500;
}
.search-sidebar form.searchform {
    position: relative;
    padding: 0;
}
.search-sidebar form.searchform {
    margin-top: 50px;
}
form.searchform input.searchinput {
    background: #f5f5f5;
    color: #252a2b;
    width: 100%;
    border: none;
    height: 55px;
    font-size: 15px;
    font-weight: 500;
    padding: 0 55px 0 20px;
    margin: 0;
    display: inline-block;
    border-radius: 0;
    -webkit-appearance: none;
    transition: all 150ms linear;
}
form.searchform .btn-search {
    width: 55px;
    height: 55px;
    line-height: 64px;
    position: absolute;
    padding: 0;
    top: 0px;
    right: 0px;
    background: transparent;
    transition: opacity 150ms linear;
}
form.searchform .btn-search i {
    width: 25px;
    height: 22px;
    opacity: .12;
}


.site-close-handle {
    position: absolute;
    top: 55px;
    right: 60px;
    width: 35px;
    height: 35px;
    z-index: 999;
    background: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
    -ms-transition: transform 150ms linear;
    -webkit-transition: transform 150ms linear;
    transition: transform 150ms linear;
}
.hamburger-menu {
    width: 27px;
    height: 19px;
    cursor: pointer;
    display: block;
    transition: all 150ms linear;
}
.site-close-handle .hamburger-menu .bar.animate {
    background: transparent;
}
.hamburger-menu .bar {
    position: relative;
    background: #252a2b;
    display: block;
    -ms-transition: all 0ms 100ms, width 150ms linear;
    -webkit-transition: all 0ms 100ms, width 150ms linear;
    transition: all 0ms 100ms, width 150ms linear;
    -ms-transform: translateY(7px);
    -webkit-transform: translateY(7px);
    transform: translateY(7px);
}
.site-close-handle .hamburger-menu .bar.animate:before {
    bottom: 0;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -ms-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),transform 300ms 100ms cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),transform 300ms 100ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),transform 300ms 100ms cubic-bezier(0.23, 1, 0.32, 1);
}
.site-close-handle .hamburger-menu .bar.animate:after {
    top: 0;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -ms-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),transform 300ms 100ms cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),transform 300ms 100ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),transform 300ms 100ms cubic-bezier(0.23, 1, 0.32, 1);
}
.hamburger-menu .bar, .hamburger-menu .bar:after, .hamburger-menu .bar:before {
    width: 27px;
    height: 3px;
}
